body{
    padding: 0;
    margin: 0;
}

nav {
    margin-top: 90px;
    margin-left: -10px;
    margin-right: -10px;
    max-width: 100%;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffff 25%, #ffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
 
    }
    
    nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #1E5192 25%, #1E5192 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(109, 109, 109, 0.267), inset 0 0 1px rgba(109, 109, 109, 0.267);
    }
    
    nav ul li {
    display: inline-block;
    }
    
    nav ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform:uppercase;
    color: #ffff;
    font-size: 18px;
    text-decoration: none;
    display: block;
    }
    
    nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
}

.as{
    padding-bottom: 0px;
}
/*roda pé csss*/
.lo{

  
}

   
footer{
  background-color: #1E5192;
    bottom: 0;
    width: 100%;
    height: 40%;	
   

}
.redes{
  margin-top: 50px;
display: right;
text-indent: 10px;
}

.navlinks{
 
  
  font-size: 61px;
  float: center;
  line-height: 55px;
  
}
.navlinks{
  list-style: none;
  font-size: 20px;
  
  
}
  .navlinks a {
  text-decoration: none;
  color: white;
}
.copy{
 margin-top: 9px;
 
  float: center;
  color :white ;
  font-size: 20px;

}
  .copy a{
   text-decoration: none;
   color :white;

  }
  .comp{
    margin-top: 20px;
    margin-left: 554px;
    height: 120px;
    width: 110px;
    
  }
  .oip{
    width: 700px;
    height: 600px;
  }
    
.w{
  
}